.nav-item {
   text-align: center;
}
.nav-link {
   font-size: small;
}
.dark-bg {
   background-color: #212121;
}
.first-container {
   height: 80vh;
}
.canvas-container {
   height: 70vh;
}
.second-container {
   height: 10vh;
}