* {
   padding: 0;
   margin: 0;
}
body {
   height: 100vh;
}
.outerContainer {
   display: flex;
   flex-direction: column;
   height: 100vh;
   overflow: hidden;
}
.editor {
   height: 90%;
}
.tool-group {
   align-items: stretch;
   height: 10%;
}
.row{
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.row::-webkit-scrollbar {
   display: none;
}
.tool-group > .row {
   overflow-x: scroll;
   flex-wrap: nowrap;
}
.tool-group > .row > .col-4 {
   flex: 0 0 auto;
}
