*{
    box-sizing: border-box;
}
#toPdf{
    background-color: aliceblue;
    width: 50%;
    padding: 0;
    display: none;
}
#toJpg{
    background-color: aliceblue;
    width: 50%;
    padding: 0;
    display: none;
}

.card-title{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.imgPreview{
    width: 250px;
    height: 250px;
    display: none;
}
#createPdf{
    display: none;
}